@import url("https://fonts.googleapis.com/css2?family=Heebo&family=Lobster&family=Bilbo+Swash+Caps&display=swap");

/*font-family: 'Heebo', sans-serif;
font-family: 'Bilbo Swash Caps', cursive;
font-family: 'Lobster', cursive;*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
}
main {
    font-family: "Heebo", sans-serif;
    .landing {
        min-height: 100vh;
        background: url("./plouzane-1758197_1280.jpg") no-repeat center;
        background-size: cover;
        // padding: 1rem 3rem;
        color: white;
        nav {
            display: flex;
            align-items: center;
            padding: 0.6rem 0.8rem;
            justify-content: space-between;
            .nav-links {
                display: flex;
                flex-wrap: wrap;
                list-style: none;
                li {
                    padding: 0rem 1rem;
                    font-size: 1.2rem;
                }
            }
        }
    }
}
#logo {
    font-family: "Lobster", cursive;
    font-weight: lighter;
    font-size: 2rem;
}
.big-text {
    position: absolute;
    font-family: "Lobster", cursive;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    font-size: 2.2rem;
    color: #263b4a;
}
@media (min-width:375px){
    .big-text{
        font-size:2.9rem;
    }
}
.intro {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .intro-text {
        font-family: "Bilbo Swash Caps", cursive;
        color: #6f6fe2;
        font-size: 2em;
    }
}
.slider {
    background: #3a81c4; //rgb(12, 41, 37)
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transform: translateY(100%);
}
.hide {
    background-color: black;
    overflow: hidden;
    span {
        transform: translateY(100%);
        display: inline-block;
    }
}
